<form>
  <div class="form-group">
    <label for="input01">Nombre</label>
    <input type="text" class="form-control" id="input01" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="input02">Fecha de Inicio</label>
    <input type="text" class="form-control" id="input02" placeholder="Fecha de Inicio">
  </div>  
    <div class="form-group">
    <label for="input03">Naturaleza</label>
    <input type="text" class="form-control" id="input03" placeholder="Naturaleza">
  </div> 
    <div class="form-group">
    <label for="input04">Fases</label>
    <input type="text" class="form-control" id="input04" placeholder="Fases">
  </div> 
  <div class="form-group">
    <label for="textarea01">Descripcion</label>
    <textarea placeholder="Descripcion" class="form-control" id="textarea01"></textarea>
  </div>
</form>
