<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th class="table-id">#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Username</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody *ngIf="accounts">
    <tr *ngFor="let item of accounts._embedded?.accounts">
      <td class="table-id">{{ item.id }}</td>
      <td>{{ item.created_at }}</td>
      <td>{{ item.authorities }}</td>
      <td>{{ item.username }}</td>
      <td><a class="email-link" href="mailto:{{ item.email }}">{{ item.email }}</a></td>
      <td>
        <button ngClass="{status-button btn btn-xs btn-warning" (click)="delete(item)" >Borrar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="horizontal-scroll">
  <table class="table table-responsive">
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="first()" >Primero</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="previous()" >Anterior</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="next()" >Siguiente</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="last()" >Ultimo</button></td>
  </table>
</div>
<!--<div *ngIf="accounts">
<div *ngFor="let item of accounts._embedded.accounts">
  <div>{{ item.created_at }}</div>
  <div>{{ item.authorities }}</div>
  <div>{{ item.username }}</div>
  <div>{{ item.is_active}}</div>
</div>
</div>-->
