<div class="horizontal-scroll">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th class="table-id">Nro.</th>
      <th></th>
      <th>Cargo</th>  
      <th>Descripción</th>      
      <th>Acción</th>
    </tr>
    </thead>
    <tbody *ngIf="positions">
    <tr *ngFor=" let item of positions._embedded?.charges">
      <td class="table-id">{{ item.ids }}</td>
      <td></td>
      <td>{{ item.name }}</td> 
      <td>{{ item.description }}</td>      
      <td>        
       <button ngClass="{status-button btn btn-xs btn-warning" (click)="delete(item)" >Borrar</button>    
     </td>
    </tr>
    <tr *ngIf="isEmpty"><td colspan=4>Lista vacia</td></tr>

    </tbody>
  </table>
</div>
