<form>
<form>
<!-- LISTADO PARA SELECCIONAR TAREAS -->
  <div class="form-group" *ngIf = "listtask">
    <label for="input05">Tarea</label>
    <select class="form-control" name="phase" id="input05" placeholder="Descripcion" title="" [(ngModel)]="jobhal.task" required="task" style="color:black">
      <option *ngFor = "let item of listtask._embedded.tasks" value="{{ item._links?.self?.href }}">
        {{item.name}}
      </option>>
    </select>
  </div>
  <div class="form-group">
    <label for="input01">Nombre del trabajo</label>
    <input [(ngModel)]="jobhal.name"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="input01" placeholder="Nombre" required="name" name="nombre" >
  </div>

  <div class="form-group">
    <label for="textarea01">Descripcion</label>
    <textarea placeholder="Descripcion" class="form-control" id="textarea01" [(ngModel)]="jobhal.description" name="description" ></textarea>
  </div>
  <div class="form-group">
        <label for="select01">Porcentaje de Avance</label>
       <select placeholder="Descripcion" class="btn btn-primary btn-raised" id="select01"  name="porcentj">
         <option value="  ">0%</option>
         <option value="10">10%</option>
         <option value="20">20%</option>
         <option value="30">30%</option>
         <option value="40">40%</option>
         <option value="50">50%</option>
         <option value="60">60%</option>
         <option value="70">70%</option>
         <option value="80">80%</option>
         <option value="90">90%</option>
         <option value="100">100%</option>
       </select>
   </div>
  <!--Boton Agregado por Moises aun falta los eventos -->
  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">
                          <div class="button-wrapper">
                               <button type="submit" class="btn btn-primary btn-raised" (click)="save(jobhal)">Guardar</button>
                          </div>
                      </th>
                      <th scope="col">
                          <div class="button-wrapper"> 
                               <button type="reset" class="btn btn-primary btn-raised">Limpiar</button>
                          </div>
                      </th>
                    </tr>
            </table>

</form>
