<form>
<!-- LISTADO PARA SELECCIONAR PROYECTOS -->
  <div class="form-group" *ngIf = "listproject">
    <label for="input06">Proyecto</label>
    <select class="form-control" (change)="updatePhases($event.target.value)" name="project" id="input06" placeholder="Descripcion" title="" [(ngModel)]="jobhal.project" required="project" style="color:black">
      <option *ngFor = "let item of listproject._embedded?.projects" value="{{ item.ids }}">
        {{item.name}}
      </option>>
    </select>
  </div>
<!-- LISTADO PARA SELECCIONAR FASES -->
  <div class="form-group" *ngIf = "listphase">
    <label for="input07">Fase</label>
    <select class="form-control" (change)="updateTasks($event.target.value)" name="phase" id="input07" placeholder="Descripcion" title="" [(ngModel)]="jobhal.phase" required="phase" style="color:black">
      <option *ngFor = "let item of listphase._embedded?.phases" value="{{ item.ids }}">
        {{item.name}}
      </option>>
    </select>
  </div>

<!-- LISTADO PARA SELECCIONAR TAREAS. -->
   <div class="form-group" *ngIf = "listtask">
    <label for="input05">Tarea</label>
    <select class="form-control" name="task" id="input05" placeholder="Descripcion" title="" [(ngModel)]="jobhal.task" required="task" style="color:black">
      <option *ngFor = "let item of listtask._embedded?.tasks" value="{{ item.ids }}">
        {{item.name}}
      </option>>
    </select>
  </div>  
 
  <div class="form-group">
    <label for="input01">Nombre del trabajo</label>
    <input [(ngModel)]="jobhal.name"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="input01" placeholder="Nombre" required="name" name="nombre" autocomplete="on"  autofocus="autofocus">
  </div>

  <div class="form-group">
    <label for="textarea01">Descripcion</label>
    <textarea placeholder="Descripcion" class="form-control" id="textarea01" [(ngModel)]="jobhal.description" name="description" required="description" autocomplete="on"></textarea>
  </div>
  <div class="form-group">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </div>
  <div class="form-group" *ngIf = "listdepartment">
    <label for="input07">Departameto Responsable</label>
    <select class="form-control" name="department" id="input07" placeholder="Departamento" title="" [(ngModel)]="jobhal.department" required="department" style="color:black">
      <option *ngFor = "let item of listdepartment._embedded?.departments" value="{{ item.ids }}">
        {{item.name}}
      </option>
    </select>
  </div> 
 
  <div class="form-group">
    <label for="input06">Valor Estimado</label>    
     <input type="number"  class="form-control" name="value" id="input06" placeholder="Valor" [(ngModel)]="jobhal.value" required="value" min="0" max="100">
  </div>
  
  <!--Boton Agregado por Moises aun falta los eventos -->
  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">
                          <div class="button-wrapper">
                               <button type="submit" class="btn btn-primary btn-raised" (click)="save(jobhal)">Guardar</button>
                          </div>
                      </th>
                      <th scope="col">
                          <div class="button-wrapper"> 
                               <button type="reset" class="btn btn-primary btn-raised">Limpiar</button>
                          </div>
                      </th>
                    </tr>
            </table>

</form>
