<div class="horizontal-scroll">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th class="table-id">Nro.</th>     
      <th>Proyecto</th>
      <th>Descripcion</th>  
      <th>Indicador</th>
      <th>Valor</th> 
      <th>Departamento Responsable</th>         
      <th>Estatus</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody *ngIf="projects">
    <tr *ngFor="let item of projects._embedded?.projects">
      <td class="table-ids">{{ item.ids }}</td>
      <td><a class="learn-more" [routerLink]="['/pages/projects/view/' + item.ids]">{{ item.name }}</a></td>
      <td>{{ item.description }}</td>
      <td>{{ item.indicatorName }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.departmentName }}</td>
      <div class="progress">         
        <svg width="90" height="15">
        <text x=60 y=12 fill= "#FFFFFF">47%</text>
           <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(179,0,62);stop-opacity:1" />
            <stop offset="75%" style="stop-color:rgb(0, 152, 179);stop-opacity:1" />
            <stop offset="15%" style="stop-color:rgb(0,182,26);stop-opacity:1" />
            </linearGradient>
          </defs>
       <rect width="120" height="15" fill="url(#grad1)" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"  />         
      </svg>      
      </div> 
     <td>
        <button ngClass="{status-button btn btn-xs btn-warning" (click)="delete(item)" >Borrar</button>
      </td>
    </tr>
    </tbody>
  </table>

<div class="horizontal-scroll">
  <table class="table table-responsive">
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="first()" >Primero</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="previous()" >Anterior</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="next()" >Siguiente</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="last()" >Ultimo</button></td>
  </table>
</div>
