<form>
<!-- LISTADO PARA SELECCIONAR FASES -->
  <div class="form-group" *ngIf = "listphase">
    <label for="input05">Fase</label>
    <select class="form-control" name="phase" id="input05" placeholder="Descripcion" title="" [(ngModel)]="taskhal.phase" required="phase" style="color:black">
      <option *ngFor = "let item of listphase._embedded.phases" value="{{ item.ids }}">
        {{item.name}}
      </option>>
    </select>
  </div>  
  
  <div class="form-group">
    <label for="input01">Nombre</label>
    <input type="text" class="form-control" name="name" id="input01" placeholder="Tareas" [(ngModel)]="taskhal.name" required="name" style="color:black">
  </div>
   <div class="form-group">
    <label for="input02">Fecha Estimada de Inicio</label>    
    <input type="date" class="form-control"  name="estimatedStartDate" id="input02" placeholder="Fecha de Inicio" title="DD/MM/YYYY" [(ngModel)]="taskhal.estimatedStartDate" required="input02" >
  </div> 

  <div class="form-group">
    <label for="input03">Fecha Estimada de Final</label>
    <input type="date" class="form-control" name="estimatedDateEnd" id="input03" placeholder="Fecha Final" title="DD/MM/YYYY" [(ngModel)]="taskhal.estimatedDateEnd" required="input03">
  </div>
  <div class="form-group">
    <label for="input04">Descripcion</label>
    <textarea class="form-control" name="description" id="input02" placeholder="Descripcion" title="" [(ngModel)]="taskhal.description" required="description" style="color:black"></textarea>
  </div>  

  
  
  <!--Boton Agregado por Moises aun falta los eventos -->
  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">
                          <div class="button-wrapper">
                               <button type="submit" class="btn btn-primary btn-raised" (click)="save(taskhal)">Guardar</button>
                          </div>
                      </th>
                      <th scope="col">
                          <div class="button-wrapper"> 
                               <button type="reset" class="btn btn-primary btn-raised">Limpiar</button>
                          </div>
                      </th>
                    </tr>
            </table>
</form>