<form>
  <div class="form-group">
    <label for="input01">Nombre</label>
    <input type="text" class="form-control" name="name" id="input01" placeholder="Fase" [(ngModel)]="phasehal.name">
  </div>
  <div class="form-group">
    <label for="input02">Descripcion</label>
    <input type="text" class="form-control" name="description" id="input02" placeholder="Descripcion" title="" [(ngModel)]="phasehal.description">
  </div>  
  
  <!--Boton Agregado por Moises aun falta los eventos -->
  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">
                          <div class="button-wrapper">
                               <button type="submit" class="btn btn-primary btn-raised" (click)="save(phasehal)">Guardar</button>
                          </div>
                      </th>
                      <th scope="col">
                          <div class="button-wrapper"> 
                               <button type="reset" class="btn btn-primary btn-raised">Limpiar</button>
                          </div>
                      </th>
                    </tr>
            </table>

</form>
