<form>
  <div class="form-group">
    <label for="input01">Usuario</label>
    <input type="text" class="form-control" name="username" id="input01" placeholder="Usuario" [(ngModel)]="accounthal.username">
  </div>
    <div class="form-group">
    <label for="input01">Nombre</label>
    <input type="text" class="form-control" name="username" id="input01" placeholder="Nombre" [(ngModel)]="accounthal.name">
  </div>
    <div class="form-group">
    <label for="input01">Apellido</label>
    <input type="text" class="form-control" name="username" id="input01" placeholder="Apellido" [(ngModel)]="accounthal.last">
  </div>
  <div class="form-group">
    <label for="input02">Password</label>
    <input type="password" class="form-control" name="password" id="input02" placeholder="Password" title="" [(ngModel)]="accounthal.password">
  </div>  
    <div class="form-group">
    <label for="input03">Authorities</label>
    <input type="text" class="form-control" name="authorities" id="input03" placeholder="Fecha Final" title="DD/MM/YYYY" [(ngModel)]="accounthal.authorities">
  </div>

  <!--Boton Agregado por Moises aun falta los eventos -->
  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">
                          <div class="button-wrapper">
                               <button type="submit" class="btn btn-primary btn-raised" (click)="save(accounthal)">Guardar</button>
                          </div>
                      </th>
                      <th scope="col">
                          <div class="button-wrapper"> 
                               <button type="reset" class="btn btn-primary btn-raised">Limpiar</button>
                          </div>
                      </th>
                    </tr>
            </table>

</form>
