<¡DOCTYPE html>
<!-- Manejo de errores-->
<div *ngIf="error" class="alert alert-danger" role="alert">{{error.statusText}}</div>
<!-- END error -->
<div>

          <table class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody *ngIf="position">
            <tr>
              <th class="upper-text bold-text" scope="row">Codigo</th>
              <td></td>
              <td colspan="4">{{ position.ids }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Cargo</th>
              <td></td>
              <td colspan="4">{{ position.name }}</td>
            </tr>            
             <tr>
              <th class="text-nowrap" scope="row">Detalle</th>
              <td></td>
              <td>{{ position.description }}</td>
            </tr>
            </tbody>
          </table>
              <button type="button" class="btn btn-warning btn-mm" [routerLink]="['/pages/positions/list/']">Actualizar</button>
              <button type="button" class="btn btn-danger btn-mm" (click)="delete(position)">Borrar</button>

              <button type="button" class="btn btn-info btn-mm" [routerLink]="['/pages/position/list/']">Listar</button>
      </div>