<!-- Manejo de errores-->
<div *ngIf="error" class="alert alert-danger" role="alert">{{error.statusText}}</div>
<!-- END error -->
<div class="horizontal-scroll">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th class="table-id">Nro.</th>      
      <th>Trabajos</th>
      <th>Descripcion</th>
      <th>Tareas</th>
      <th>Estatus</th>
      <th>Valor</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody *ngIf="jobs">  
    <tr *ngFor=" let item of jobs._embedded?.jobs">
      <td class="table-id">{{ item.ids }}</td>
      <td><a class="learn-more" [routerLink]="['/pages/jobs/view/' + item.ids]">{{ item.name }}</a></td>       
      <td>{{ item.description }}</td>
      <td>{{ item.taskName }}</td>
      <progress class="progress progress-striped active" value="{{item.advance}}" max="100" aria-describedby="example-caption-6">{{item.advance}}
</progress>
      <td>{{ item.advance }} %</td>
      <td>        
       <button ngClass="{status-button btn btn-xs btn-warning" (click)="delete(item)" >Borrar</button>    
     </td>
    </tr>
    <tr *ngIf="isEmpty"><td colspan=4>Lista vacia</td></tr>

    </tbody>
  </table>
</div>


