 
        <div>
          <table class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody *ngIf="project">
            <tr>
              <th class="upper-text bold-text" scope="row">Codigo</th>
              <td></td>
              <td colspan="4">{{ project.ids }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Proyecto</th>
              <td></td>
              <td colspan="4">{{ project.name }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Fecha de inicio</th>
              <td></td>
              <td>{{ project.estimatedStartDate }}</td>
            </tr>
             <tr>
              <th class="text-nowrap" scope="row">Fecha Final</th>
              <td></td>
              <td>{{ project.estimatedDateEnd }}</td>
            </tr>
             <tr>
              <th class="text-nowrap" scope="row">Detalle</th>
              <td></td>
              <td>{{ project.description }}</td>
            </tr>
             <tr>
              <th class="text-nowrap" scope="row">Indicador</th>
              <td></td>
              <td>{{ project.indicatorName }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Valor Estimado</th>
              <td></td>
              <td>{{ project.value }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Departamento Responsable</th>
              <td></td>
              <td>{{ project.departmentName }}</td>
            </tr>

            </tbody>
          </table>
              <button *ngIf="project"  type="button" class="btn btn-warning btn-mm" [routerLink]="['/pages/projects/update/' + project.ids]">Actualizar</button>
              <button type="button" class="btn btn-danger btn-mm" (click)="delete(project)">Borrar</button>

              <button type="button" class="btn btn-info btn-mm" [routerLink]="['/pages/projects/list/']">Listar</button>
              
      </div>


    <!--<thead>
    <tr>
      <th class="table-id">Nro.</th>
      <th></th>
      <th>Proyecto</th>
      <th>Descripcion</th>
      <th>Departamento</th> 
      <th>Status</th>
    </tr>
    </thead>
    <tbody *ngIf="project">
    <tr>
      <td class="table-ids">{{ project.ids }}</td>
      <td>{{ project.name }}</td> 
      <td>{{ project.description }}</td>
     <td>{{ project.estimated_date_end }}</td>
      <td>{{ project.estimated_start_date }}</td>
         
      <td>        
       <button ngClass="{status-button btn btn-xs btn-warning" (click)="delete(item)" >Borrar</button>    
     </td>
     </tr>
    </tbody>
  </table>
</div>-->