<div>
          <table class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody *ngIf="job">
            <tr>
              <th class="upper-text bold-text" scope="row">Codigo</th>
              <td></td>
              <td colspan="4">{{ job.ids }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Proyecto</th>
              <td></td>
              <td colspan="4">{{ job.name }}</td>
            </tr>
             <tr>
              <th class="text-nowrap" scope="row">Detalle</th>
              <td></td>
              <td>{{ job.description }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Tarea</th>
              <td></td>
              <td>{{ job.task }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Detalle</th>
              <td></td>
              <td>{{ job.value }}</td>
            </tr>
            </tbody>
          </table>
              <button type="button" class="btn btn-warning btn-mm" [routerLink]="['/pages/jobs/list/']">Actualizar</button>
              <button type="button" class="btn btn-danger btn-mm" (click)="delete(job)">Borrar</button>

              <button type="button" class="btn btn-info btn-mm" [routerLink]="['/pages/jobs/list/']">Listar</button>
      </div>