<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <pie-chart></pie-chart>
  </div>
</div>

<div class="row">
<ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-md-6 col-sm-20 col-xs-20"
               title="Proyectos" baCardClass="medium-card">
               <div class="row">
                <table class="table table-responsive" *ngIf="projects">
    <thead>
    <tr>
      <th class="table-id">Nro.</th>
      <th>Proyecto</th>
      <th>Descripcion</th>
      <th>Progreso</th>  
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let item of projects._embedded.projects">
      <td class="table-id">{{ item.ids }}</td>
      <td><a class="learn-more" [routerLink]="['/pages/projects/view/' + item.ids]">{{ item.name }} </a></td> 
      <td>{{ item.description }}</td>
      <!--<div class="progress">
         <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;" >45%
        </div>
      </div>-->
      <div class="progress">         
        <svg width="90" height="15">
        <text x=45 y=12 fill= "#FFFFFF">47%</text>
           <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="20%" style="stop-color:rgb(179,0,62);stop-opacity:1" />
            <stop offset="65%" style="stop-color:rgb(0, 152, 179);stop-opacity:1" />
            <stop offset="25%" style="stop-color:rgb(0,182,26);stop-opacity:1" />
            </linearGradient>
          </defs>
       <rect width="90" height="15" fill="url(#grad1)" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 47%;"  />         
      </svg>      
      </div>
    </tr>
    </tbody>
  </table>

               <button type="button" class="btn btn-success btn-with-icon" (click)="getPage()"><i class="ion-android-checkmark-circle"></i>Ver Proyectos
    </button>
    </div>
</ba-card>
  <div class="row">
<!--LLAMADA A TASK-->
  <ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-md-6 col-sm-20 col-xs-20"
               title="Tareas" baCardClass="medium-card">
               <div class="row">
                <table class="table table-responsive" *ngIf="tasks">
    <thead>
    <tr>
      <th class="table-id">Nro.</th>      
      <th>Tareas</th>
      <th>Descripcion</th>  
      <!--<th>Fase</th>-->
      <th>Progreso de tareas</th>

    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let item of tasks._embedded.tasks">
      <td class="table-id">{{ item.ids }}</td>
      <td><a class="learn-more" [routerLink]="['/pages/tasks/view/' + item.ids]">{{ item.name }} </a></td> 
      <td>{{ item.description }}</td>
     <!-- <td>{{ item.phaseName }}</td>-->
      <!--<div class="progress">
         <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 75%;" >75%
        </div>
      </div>-->
       <div class="progress">         
        <svg width="150" height="15">
        <text x=80 y=12 fill= "#FFFFFF">45%</text>
           <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(179,0,62);stop-opacity:1" />
            <stop offset="75%" style="stop-color:rgb(0, 152, 179);stop-opacity:1" />
            <stop offset="10%" style="stop-color:rgb(0,182,26);stop-opacity:1" />
            </linearGradient>
          </defs>
       <rect width="150" height="15" fill="url(#grad1)" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"  />         
      </svg>      
      </div>
    </tr>
    </tbody>
  </table>

               <button type="button" class="btn btn-success btn-with-icon" (click)="getTasks()"><i class="ion-android-checkmark-circle"></i>Ver Tareas
    </button>
    </div>
</ba-card>
  </div>

    <div class="col-xlg-3 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ba-card title="Comentarios"
             baCardClass="large-card with-scroll feed-panel">
      <feed></feed>
    </ba-card>
  </div>

</div>
