<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th class="table-id">#</th>
      <th>Nombre</th>
      <th>Descripcion</th>      
      <th>Proyecto</th>
      <th>Estatus</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody *ngIf="phases">
    <tr *ngFor="let item of phases._embedded?.phases">
      <td class="table-id">{{ item.ids }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>            
      <td>{{ item.projectName }}</td>
      <div class="progress">         
        <svg width="95" height="15">
        <text x=70 y=12 fill= "#FFFFFF">55%</text>
           <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(179,0,62);stop-opacity:1" />
            <stop offset="75%" style="stop-color:rgb(0, 152, 179);stop-opacity:1" />
            <stop offset="35%" style="stop-color:rgb(0,182,26);stop-opacity:1" />
            </linearGradient>
          </defs>
       <rect width="120" height="15" fill="url(#grad1)" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"  />         
      </svg>      
      </div>
      <td>
        <button ngClass="{status-button btn btn-xs btn-warning" (click)="delete(item)" >Borrar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="horizontal-scroll">
  <table class="table table-responsive">
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="first()" >Primero</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="previous()" >Anterior</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="next()" >Siguiente</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="last()" >Ultimo</button></td>
  </table>
</div>

