<!-- Manejo de errores-->
<div *ngIf="error" class="alert alert-danger" role="alert">{{error.statusText}}</div>
<!-- END error -->
<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th class="table-id">#</th>
      <th>Nombre</th>
      <th>Descripcion</th>      
      <th>Proyecto</th>
      <th>Estatus</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody *ngIf="phases">
    <tr *ngFor="let item of phases._embedded?.phases">
      <td class="table-id">{{ item.ids }}</td>
      <td><a class="learn-more" [routerLink]="['/pages/phase/view/' + item.ids]">{{ item.name }}</a></td>
      <td>{{ item.description }}</td>            
      <td>{{ item.projectName }}</td>
      <progress class="progress progress-striped active" value="{{item.advance}}" max="100" aria-describedby="example-caption-6">{{item.advance}}
</progress>
      <td>
        <button ngClass="{status-button btn btn-xs btn-warning" (click)="delete(item)" >Borrar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="horizontal-scroll">
  <table class="table table-responsive">
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="first()" >Primero</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="previous()" >Anterior</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="next()" >Siguiente</button></td>
    <td><button ngClass="{status-button btn btn-xs btn-info" (click)="last()" >Ultimo</button></td>
  </table>
</div>

