<form>

  <div class="form-group">
    <label for="input01">Nombre</label>    
     <input type="text"  class="form-control" name="name" id="input01"  placeholder="Proyecto" [(ngModel)]="projecthal.name" required="nombre" >
  </div>
  
  <div class="form-group">
    <label for="input02">Fecha de Inicio</label>    
    <input type="date" class="form-control"  name="estimatedStartDate" id="input02" placeholder="Fecha de Inicio" title="DD/MM/YYYY" [(ngModel)]="projecthal.estimatedStartDate" required="input02" >
  </div> 

  <div class="form-group">
    <label for="input03">Fecha Final</label>
    <input type="date" class="form-control" name="estimatedDateEnd" id="input03" placeholder="Fecha Final" title="DD/MM/YYYY" [(ngModel)]="projecthal.estimatedDateEnd" required="input03">
  </div>

  <div class="form-group">
    <label for="textarea01">Descripcion</label>
    <textarea placeholder="Descripcion" class="form-control" name="description" id="textarea01" [(ngModel)]="projecthal.description" required="descripcion"></textarea>
  </div> 

<!-- LISTADO PARA SELECCIONAR DEPARTAMENTOS -->
  <div class="form-group" *ngIf = "listdepartment">
    <label for="input07">Departameto Responsable</label>
    <select class="form-control" name="department" id="input07" placeholder="Departamento" title="" [(ngModel)]="projecthal.department" required="department" style="color:black">
      <option *ngFor = "let item of listdepartment._embedded?.departments" value="{{ item.ids }}">
        {{item.name}}
      </option>
    </select>
  </div> 

  <!-- LISTADO PAR8 SELECCIONAR USUARIOS -->
    <div class="select" *ngIf = "listaccount">
    <label for="input08">Usuario Responsable</label>
    <select class="form-control" name="account" id="input08" placeholder="account" title="account" [(ngModel)]="projecthal.owner" required="account" style="color:black">
      <option *ngFor = "let item of listaccount._embedded?.accounts" value="{{ item.ids }}">
        {{item.username}}
      </option>
    </select>
  </div> 


  <!-- LISTADO PARA SELECCIONAR INDICADOR -->
  <div class="form-group" *ngIf = "listindicator">
    <label for="input05">Indicador Estimado</label>
    <select class="form-control" name="phase" id="input05" placeholder="Valor" title="" [(ngModel)]="projecthal.indicator" required="indicator" style="color:black">
      <option *ngFor = "let item of listindicator._embedded?.indicators" value="{{ item.ids }}">
        {{item.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="input06">Valor Estimado</label>    
     <input readonly type="number"  class="form-control" name="value" id="input06"  placeholder="Valor" [(ngModel)]="projecthal.value" required="value" >
  </div>
    
  <!--Boton Agregado por Moises aun falta los eventos -->
  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">
                          <div class="button-wrapper">
                              <button type="submit" class="btn btn-primary btn-raised" (click)="save(projecthal)" >Guardar</button>
                          </div>
                      </th>
                      <th scope="col">
                          <div class="button-wrapper"> 
                               <button type="reset" class="btn btn-primary btn-raised">Limpiar</button>
                          </div>
                      </th>
                    </tr>
            </table>
</form>
