<form>
  <div class="form-group">
    <label for="input01">Nombre</label>
    <input type="text" class="form-control" id="input01" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="input02">Fecha de Inicio</label>
    <input type="text" class="form-control" id="input02" placeholder="Fecha de Inicio" title="DD/MM/YYYY">
  </div>  
    <div class="form-group">
    <label for="input03">Fecha Final</label>
    <input type="text" class="form-control" id="input03" placeholder="Fecha Final" title="DD/MM/YYYY" >
  </div>
  <div class="form-group">
    <label for="textarea01">Descripcion</label>
    <textarea placeholder="Descripcion" class="form-control" id="textarea01"></textarea>
  </div>
  <!--Boton Agregado por Moises aun falta los eventos -->
  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">
                          <div class="button-wrapper">
                               <button type="submit" class="btn btn-primary btn-raised">Guardar</button>
                          </div>
                      </th>
                      <th scope="col">
                          <div class="button-wrapper"> 
                               <button type="reset" class="btn btn-primary btn-raised">Limpiar</button>
                          </div>
                      </th>
                    </tr>
            </table>
           

</form>
